# ========================
# Python
# ========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/
.eggs/

# ========================
# Środowisko wirtualne
# ========================
venv/
env/
.venv/
.env

# ========================
# Jupyter Notebooks
# ========================
.ipynb_checkpoints/
*.ipynb

# ========================
# Model / wagi i wyniki
# ========================
model/*.pth
model/*.pt
model/*.csv
model/*.png
model/*.ckpt
*.pkl

# ========================
# Dataset / dane
# ========================
data/
*.zip
*.tar.gz
*.csv

# ========================
# Streamlit
# ========================
.streamlit/secrets.toml

# ========================
# VS Code
# ========================
.vscode/
*.code-workspace

# ========================
# System
# ========================
.DS_Store
Thumbs.db
desktop.ini

# ========================
# Logi / tymczasowe
# ========================
*.log
tmp/
temp/
